In [11]:
#Use print statement


print("Who is the boss ?", 1)

Who is the boss ? 1

In [12]:
print("Hello Udayan")

Hello Udayan

#Use simple maths calculation

In [1]:
(2*3)

6

In [2]:
x = 5

In [3]:
y = 10

In [6]:
print('Two numbers defined are : {} and {}'.format(x,y))

Two numbers defined are : 5 and 10

In [10]:
print("Another way to define numbers are : {alias_x1} and {alias_y1}, {alias_y1}".format(alias_x1=x, alias_y1 =y))

Another way to define numbers are : 5 and 10, 10

In [14]:
s='hello'
s[4:5]

'o'

In [12]:
s[4:]

'o'

In [13]:
s[4:len(s)]

'o'

In [15]:
my_list = [1,2,'a',"b", "&"]

In [16]:
print(my_list)

[1, 2, 'a', 'b', '&']

In [17]:
my_list.append(1,2,3)

TypeError: append() takes exactly one argument (3 given)

In [18]:
my_list.append(1)

In [19]:
my_list

[1, 2, 'a', 'b', '&', 1]

In [22]:
sub_lists = [1,2,[1,2,[1,2],3],4]

In [23]:
sub_lists

[1, 2, [1, 2, [1, 2], 3], 4]

In [24]:
sub_lists[3]

4

In [25]:
sub_lists[2]

[1, 2, [1, 2], 3]

In [26]:
sub_lists[2][2]

[1, 2]

In [27]:
sub_lists[2][2][1]

2

In [34]:
my_dict = {"key1":"value1", "key2":2.0, "key3": 10, 2:9,'list1':[1,2,3]}

In [35]:
print(my_dict)

{'key1': 'value1', 'key2': 2.0, 'key3': 10, 2: 9, 'list1': [1, 2, 3]}

In [30]:
my_dict[key2]

NameError: name 'key2' is not defined

In [31]:
print(my_dict['key2'])

2.0

In [36]:
print(my_dict['key3'])

10

In [37]:
print(my_dict[2])

9

In [38]:
print(my_dict['list1'])

[1, 2, 3]

In [39]:
print(my_dict['list1'][0])

1

In [40]:
tuple_mine = (1,2,3,4)

In [41]:
tuple_mine[0] = 10

TypeError: 'tuple' object does not support item assignment

In [42]:
my_list[0] = 0

In [43]:
print(my_list)

[0, 2, 'a', 'b', '&', 1]

In [44]:
set_sample = {1,2,2,3}

In [45]:
print(set_sample)

{1, 2, 3}

In [47]:
dupl_list = [1,1,1,2,3,3,3,3,3,3]

In [48]:
set(dupl_list)

{1, 2, 3}

In [49]:
var_set = set(dupl_list)

In [50]:
var_set.add(5)

In [51]:
print(var_set)

{1, 2, 3, 5}

In [52]:
seq= [1,2,3,3,5]

In [56]:
for i in seq :
    print ('double value of coutner  :', i + i )

double value of coutner  : 2
double value of coutner  : 4
double value of coutner  : 6
double value of coutner  : 6
double value of coutner  : 10

In [60]:
i = 1
print("Counter starting")
while (i < 5) :
    print('i'. format(i), " : ", i)
    i = i + 1

Counter starting
i  :  1
i  :  2
i  :  3
i  :  4

In [61]:
range (10)

range(0, 10)

In [62]:
range_var = range(10)

In [63]:
range_var

range(0, 10)

In [64]:
print(range_var)

range(0, 10)

In [65]:
list(range_var)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
for i in range_var :
    print("value of range value :", i)

value of range value : 0
value of range value : 1
value of range value : 2
value of range value : 3
value of range value : 4
value of range value : 5
value of range value : 6
value of range value : 7
value of range value : 8
value of range value : 9

#### ##### #### ##### Section divider ##### ##### #### ####

####List Comprehension###

In [74]:
my_list_2 = [1,2,3,4]

In [75]:
square = []
cube = []
for i in my_list_2:
    square.append(i ** 2)
    cube.append(i ** 3)

In [76]:
print( square , cube)

[1, 4, 9, 16] [1, 8, 27, 64]

In [77]:
square = [i ** 2 for i in my_list_2]

In [78]:
print(square)

[1, 4, 9, 16]

In [79]:
cube = [i ** 3 for i in my_list_2]

In [80]:
print(cube)

[1, 8, 27, 64]

In [5]:
def cube(num = 0):
    """
    This is multi line comment
    This is created by 3 double quotes  followed by each other.
    Its called DOCSTRING.
    By use of shift + tab, it shows the details of function.
    this function returns a cube of number passed to the function.
    """
    return num ** 3

In [93]:
print( cube(12))

1728

In [95]:
cube

##### #### ##### Section divider ##### ##### ####

##### Map

In [3]:
my_list_5 = [1,2,3,4,5]

In [6]:
map(cube, my_list_5)

In [9]:
list(map(cube, my_list_5))

[1, 8, 27, 64, 125]

##### #### ##### Section divider ##### ##### ####

#Lambda

In [12]:
lambda var : var ** 3

In [13]:
t = lambda var : var ** 3

In [14]:
print(t(3))

27

In [17]:
list(map(lambda var : var ** 3, my_list_5)) ### use a map

[1, 8, 27, 64, 125]

In [22]:
list(map( lambda var : var % 2, my_list_5 ))

[1, 0, 1, 0, 1]

##### #### ##### Section divider ##### ##### ####

Filter

In [24]:
### List only even numbers from a list - my_list_5 = [1,2,3,4,5]
list(filter(lambda var : var % 2 == 0, my_list_5))

[2, 4]

#### ##### Section divider ##### #####

#Tuple Unpacking

In [26]:
new_tup = [(1,2),(3,4),(5,6), (6,7)]

In [27]:
for a,b in new_tup :
    print (a)
    print (b)

1
2
3
4
5
6
6
7